<requirestaff user="sponsor.me" error="true">
    <staffheader></staffheader>

    <!--<div ng-include src="'/views/tools/sidebar.html'"></div>-->
    
        <div style="display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 2%; margin:2%;">
            
            <div id="sponsor-list" style="grid-column: 1;">
                
                    <div ng-repeat="item in sponsor.sponsorList" 
                            class="sponsor-data expandable-list-item" >
                        <h4 id="sponsor-name"> {{ item.name }} </h4><br/>
                        <a href="{{ item.link }}" id="sponsor-link"> {{ item.link }} </a><br />
                        <div id="sponsor-amount"> ${{ item.amount }} </div><br />
                        <img src="{{ item.logo }}" id="sponsor-img"/>
                        <input ng-click="sponsor.selected = item" type="button" value="Edit" />
                        <input ng-click="sponsor.remove(item)" type="button" value="Delete" />
                    </div>
                    <br />
                
            </div>

            <div style="grid-column: 2">
                <input type="button" ng-click="sponsor.selected = {}" value="Add New Sponsor"/><br />
                <form ng-submit="sponsor.addOrUpdate(sponsor.selected)" class="expandable-list-item">
                    <h4>Sponsor Information</h4>
                    <input type="text"   required ng-model="sponsor.selected.name" />
                    <input type="url"    required ng-model="sponsor.selected.link" />
                    <input type="number" required ng-model="sponsor.selected.amount" />
                    <input type="submit" 
                            value="{{ (!sponsor.selected._id) ? 'Add Sponsor' : 'Update' }}" 
                            class="button"/>
                </form>  

                <form class="expandable-list-item">
                    <h4>Select A Picture</h4>
                    <img src="{{ sponsor.selected.logo }}" id="sponsor-img"/>
                    <input type="file" accept=".jpg,.png,.gif" />
                    <input type="submit" />
                </form>
            </div>

        </div>
    
</requirestaff>